@model OlympWeb.Models.Questions

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Questions</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.test_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.test_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.question_text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.question_text)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_question }) |
    @Html.ActionLink("Back to List", "Index")
</p>
