@model IEnumerable<OlympWeb.Models.Test_result>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.student_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.test_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.completion_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.score)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.student_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.test_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.completion_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.score)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_result }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_result }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_result })
        </td>
    </tr>
}

</table>
